body{
  min-height: 150vh;
}
.header_container{
  min-height: 20vh;
  background-image: linear-gradient(150deg,#0DCAF0,#A931FF);
}
.main_div{
  min-height: 80vh;
  background-image: linear-gradient(150deg,#0DCAF0,#A931FF);
}
.nxt_days{
  min-height: 30vh;
  background-image: linear-gradient(150deg,#0DCAF0,#A931FF);
}
.main_header {

font-family: 'Permanent Marker', cursive;
}
.day_degree {
  letter-spacing: 3px;
}
.icons_div{
  min-height: 50vh;

}
.weather_icons{
  width: 10em;
  height: 10em;
}
.red {
  color: red !important;
}
.blue {
  color: blue !important;
}
.hover:hover {
  transform: scale(1.1) !important;
  -webkit-transform: scale(1.1) !important;
  -moz-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  -o-transform: scale(1.1) !important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}